/* .home-page{
    
} */
.charges-incomes-wrapper{
    display: flex;
    padding-left: 20px;
}
.charges-incomes{
    width: 150px;
    height: 30px;
    text-align: center;
    margin: 0 20px 30px 0;
    box-sizing: border-box;
}
.charges-incomes:hover{
    border-bottom: 1px solid rgb(57, 56, 114);
}
.charges-incomes a{
    text-decoration: none;
    color: rgb(57, 56, 114);
    font-weight: bold;
}
.select-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
label span{
    margin-right: 20px;
    /* font-weight: 500; */
}
select{
    width: 110px;
    /* outline: none; */
    border-style: none;
    font-size: 15px;
}

.home-table td:nth-child(1), .home-table th:nth-child(1){
    width: 200px;
}
  
.home-table td:nth-child(2), .home-table th:nth-child(2){
    width: 493px;
}
  
.home-table td:nth-child(3), .home-table th:nth-child(3){
    width: 100px;
}
.home-table td:nth-child(4), .home-table th:nth-child(4){
    width: 100px;
}
.home-table td:nth-child(5), .home-table th:nth-child(5){
    width: 30px;
}